<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
  <title>David AI Agent</title>
</head>
<div style="display: flex; align-items: center; justify-content: space-between; margin-bottom: 1em;">
  <span id="userWelcome">Please sign in to ask a question.</span>
  <div>
    <button id="signInButton" onclick="signIn()">Sign In</button>
    <button id="signOutButton" onclick="signOut()" style="display:none;">Sign Out</button>
  </div>
</div>
  <h1>Ask the Agent</h1>
   <div style="margin-top: 1em;">
    <label><input type="radio" name="knowledgeSource" value="general"> General Knowledge</label>
    <label><input type="radio" name="knowledgeSource" value="cosmic_lang" checked> CW - LangChain</label>
    <label><input type="radio" name="knowledgeSource" value="cosmic_rag1" > CW - RAG</label>
  </div>
  <textarea id="question" rows="4" cols="50"></textarea><br>
  <button onclick="sendQuestion()" id="submitButton" disabled="true">Submit</button>
  <h3>Answer:</h3>
  <textarea id="answer" rows="20" style="width: 95%; resize: vertical;" readonly></textarea>

  <script src="https://alcdn.msauth.net/browser/2.34.0/js/msal-browser.min.js"></script>
  <script src="/static/app.js?v=1.08"></script>
  <script>
  const questionBox = document.getElementById("question");
  const submitButton = document.getElementById("submitButton");

  questionBox.addEventListener("keydown", function(event) {
    // Check if Enter key was pressed (keyCode 13 or event.key === 'Enter')
    if (event.key === "Enter" && !event.shiftKey) {
      event.preventDefault(); // Stop newline
      
      const text = questionBox.value.trim();
      if (text.length > 0 && !submitButton.disabled) {        
        sendQuestion();
      }
    }
  });
</script>
</body>
</html>
